rules_version = '2';
// Allow read/write access on all documents to any user signed in to the application
service cloud.firestore {
  match /databases/{database}/documents {
    match /GameMetadata/{GameID} {
      allow read: if true;
      allow write, delete, create: if request.auth != null && request.auth.uid == " 102752109924677504905"; //service account?
      
    }
    match /Users/{userID} {
      allow read: if true;
      allow write, delete: if request.auth.uid == userID;
      allow create: if request.auth != null;
      
    }
  }
}