:root{
    --bgColor: #ffffff;
    --highlightColor: #800000;
    --shadowColor: #600000;
    --foreground: #000000;
    --faded: #BBBBBB;
}

.topNavbar {
    background: var(--highlightColor);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    display: grid;
    grid-template-areas: "leftSide rightSide";
    z-index: 9999999;
}

.navbarTitle {
    color: var(--bgColor);
    margin: 0;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    
}

.navbarNavigation {
    color: var(--bgColor);
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
}

#mainPage{
    margin-top: 100px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navbarLeft {
    grid-area: leftSide;
    text-align: left;
}

#navbarRight {
    grid-area: rightSide;
    text-align: right;
    padding-top: 5px;
}

#reportButton {
    color: var(--highlightColor);
    font-size: xx-large;
}

#commentsTitle {
    font-size: xx-large;
    font-weight: 1000;
    padding-right: 15px;
}

#canvasArea {
    grid-area: game;
}

#scoreBoardContainer {
    height: 37vw;
    margin: 0 10px;
}

#scoreBoardCategoryContainer {
    display: inline-block;
    overflow: auto;
}

#scoreBoardTitle{
    margin-top: 0;
}

.category{
    background-color: var(--shadowColor);
    text-align: center;
    margin: 0;
    font-size: x-large;
    color: var(--faded);
}

.selected{
    background-color: var(--highlightColor);
    color: var(--bgColor);
}


#scoreBoardEntryContainer {
    background: var(--bgColor);
    height: 100%;
    overflow: auto;
}

#scoreBoardBody {
    padding: 10px 5px;
    background: var(--faded);
    max-height: 80%;
}

#gameAndScore {
    display: grid;
    grid-template-areas: "game score";
    grid-template-columns: auto 33%;
}

#loginTitle {
    text-align: center;
    margin-top: 35vh;
    font-family: 'Roboto', sans-serif;
}

#inputUsername {
    font-size: 1.6em;
    margin-bottom: 10px;
}

#inputPassword {
    font-size: 1.6em;
}

button {
    font-size: 1.2em;
    background: var(--highlightColor);
    color: var(--bgColor);
    border-width: 0;
    padding: 3px 6px;
    cursor: pointer;
}

#loginButtons {
    text-align: center;
}

#forgetPassword {
    color: var(--highlightColor);
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}

#loginTextBoxes {
    text-align: center;
}

#resetPrompt {
    margin-top: 35vh;
    text-align: center;
}

#resetInstruct > a {
    font-size: larger;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#inputEmail {
    font-size: 1.6em;
    margin: 20px 0;
}

img {
    border-radius: 50%;
    width: 33vh;
    max-height: 33vh; 
}

#profileContainer {
    margin-top: 15vh;
    text-align: center;
}

#signUpContainer {
    margin-top: 15vh;
    text-align: center;
}

#usernameDisplay {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

#friendsButton, #deleteAccountButton {
    padding: 3px 50px;
}

#profileInfo {
    margin: 25px 0;
    display: grid;
    grid-template-areas: "info labels update"
                         "info labels update"
                         "info labels update";
    grid-template-columns: 50% 15% auto;
    font-family: 'Roboto', sans-serif;
}

#signUpTextArea {
    margin: 25px 0;
    display: grid;
    grid-template-areas: "labels update"
                         "labels update"
                         "labels update";
    grid-template-columns: 50% 50%;
    font-family: 'Roboto', sans-serif;
}

#infoLinks {
    grid-area: info;
}

#updateInfo, #signUpInfo {
    grid-area: update;
    padding-top: 5px;
    text-align: left;
}

#updateInfo > input, #signUpInfo > input {
    margin-bottom: 10px;
    font-size: 1.6em;
}

#updateLabels {
    grid-area: labels;
}

#signUpLabels {
    grid-area: labels;
    text-align: center;
}

#updateLabels > p, #signUpLabels > p {
    line-height: 290%;
    margin: 0;
}

#myGamesButton {
    color: var(--highlightColor);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

#friendPage {
    margin-top: 15vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#friendPage > button {
    padding: 3px 50px;
    margin-bottom: 25px;
}

#friendContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#friendContainer > div {
    margin : 15px 30px;
}

.makeRed {
    color: var(--highlightColor);
}