.topNavbar {
    background: #800000;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    display: grid;
    grid-template-areas: "leftSide rightSide";
    z-index: 9999999;
}

.navbarTitle {
    color: white;
    margin: 0;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    
}

.navbarNavigation {
    color: white;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
}

#mainPage{
    margin-top: 100px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navbarLeft {
    grid-area: leftSide;
    text-align: left;
}

#navbarRight {
    grid-area: rightSide;
    text-align: right;
    padding-top: 5px;
}

#reportButton {
    color: #800000;
    font-size: xx-large;
}

#commentsTitle {
    font-size: xx-large;
    font-weight: 1000;
    padding-right: 15px;
}

#canvasArea {
    grid-area: game;
}

#scoreBoardContainer {
    grid-area: score;
    margin: 0 10px;
}

#scoreBoardCategoryContainer {
    background: #800000;
    display: grid;
    grid-template-areas: "cat1 cat2 cat3 cat4";
    grid-template-columns: auto auto auto auto;
}

#cat1 {
    color: white;
    grid-area: cat1;
    text-align: center;
    border-right: 2px solid black;
    margin: 0;
    font-size: x-large;
}

#cat2 {
    color: white;
    grid-area: cat2;
    text-align: center;
    border-right: 2px solid black;
    margin: 0;
    font-size: x-large;
}

#cat3 {
    color: white;
    grid-area: cat3;
    text-align: center;
    border-right: 2px solid black;
    margin: 0;
    font-size: x-large;
}

#cat4 {
    color: white;
    grid-area: cat4;
    text-align: center;
    margin: 0;
    font-size: x-large;
}

#scoreBoardEntryContainer {
    background: white;
    height: 35vw;
}

#scoreBoardBody {
    padding: 10px 5px;
    background: gray;
}

#gameAndScore {
    display: grid;
    width: 100%;
    grid-template-areas: "game score";
    grid-template-columns: auto 33%;
}

#loginTitle {
    text-align: center;
    margin-top: 35vh;
    font-family: 'Roboto', sans-serif;
}

#inputUsername {
    font-size: 1.6em;
    margin-bottom: 10px;
}

#inputPassword {
    font-size: 1.6em;
}

button {
    font-size: 1.2em;
    background: #800000;
    color: white;
    border-width: 0;
    padding: 3px 6px;
}

#loginButtons {
    text-align: center;
}

#forgetPassword {
    color: #800000;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}

#loginTextBoxes {
    text-align: center;
}

#resetPrompt {
    margin-top: 35vh;
    text-align: center;
}

#resetInstruct > a {
    font-size: larger;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#inputEmail {
    font-size: 1.6em;
    margin: 20px 0;
}

img {
    border-radius: 50%;
    width: 33vh;
    max-height: 33vh; 
}

#profileContainer {
    margin-top: 15vh;
    text-align: center;
}

#usernameDisplay {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

#friendsButton, #deleteAccountButton {
    padding: 3px 50px;
}

#profileInfo {
    margin: 25px 0;
    display: grid;
    grid-template-areas: "info labels update"
                         "info labels update"
                         "info labels update";
    grid-template-columns: 50% 15% auto;
    font-family: 'Roboto', sans-serif;
}

#infoLinks {
    grid-area: info;
}

#updateInfo {
    grid-area: update;
    padding-top: 5px;
    text-align: left;
}

#updateInfo > input {
    margin-bottom: 10px;
    font-size: 1.6em;
}

#updateLabels {
    grid-area: labels;
}

#updateLabels > p {
    line-height: 290%;
    margin: 0;
}

#myGamesButton {
    color: #800000;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

#friendPage {
    margin-top: 15vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#friendPage > button {
    padding: 3px 50px;
    margin-bottom: 25px;
}

#friendContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#friendContainer > div {
    margin : 15px 30px;
}

.makeRed {
    color: #800000;
}